.git
.env
.env.*
!.env.example
node_modules
vendor
backend/vendor
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/framework/testing/*
backend/storage/app/*
mobile/node_modules
mobile/.expo
*.md
.vscode
.idea
