.git
.env
.env.*
!.env.example
node_modules
vendor
storage/*
!storage/.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/app/*
tests
*.md
.vscode
.idea
.expo
database/database.sqlite
